.signup-page {
    position: absolute;
    overflow-x: unset;
    overflow-y: scroll;
    background-color: #ffffff;
    z-index: 10;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

.signup-page span {
    font-family: 'Poppins', serif;
    font-size: 16px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 184px;
    height: 180px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 9px;
}

.form-control {
    display: flex;
    width: 304px;
    padding: 14px 16px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 12px;
    border: 2px solid #E1E1E1;
}

.signup-button {
    color: #FFF;
    width: 182px;
    height: 44px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    border: none;
    margin-top: 10px;
    text-decoration: none;
    font-family: 'Poppins', 'sans-serif';
    font-size: 16px;
    font-style: normal;;
    font-weight: bold;
    line-height: normal;
    background-color: #33765D;
}

