.composition {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}

.composition-box {
    width: 90%;
}

.pie-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    height: 22px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    display: flex;
    margin-bottom: 5%;

    color: #2A301E;

    flex: none;
    order: 0;
    flex-grow: 0;
}
