.score {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;

    width: 295px;
    height: 131px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.design-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 11px;

    flex: none;
    order: 0;
    flex-grow: 0;
}