.ScannerPage{
    overflow: scroll;
}

.container {
    position: relative;
}

#interactive > video {
    width: 100%;
    height: 100%;
}

#interactive > canvas.drawing, canvas.drawingBuffer {
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
}

.text {
    color: #0c4128;
}


