.clothing-item-alternatives-profil {
    flex-direction: column;
    gap: 7px;
    display: flex;
    padding: 0px;
}

.item-image-alternatives-profil {
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    width: 100%;
}

.clothes-alternatives-profil {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
}
