.clothing-item-alternatives-profil {
    flex-direction: column;
    gap: 7px;
    padding: 0px;
    width: 85px;
}

.item-image-alternatives-profil {
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    width: 100%;
}

.clothes-alternatives-profil {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 90%;
    overflow-x: auto;
    overflow-y: unset;
}

.nav-link-hist {
    text-decoration: none;
    color: #0c4128;

}

.box {
    padding-right: 0px;
}
