.nav-link {
    text-decoration: none;
    color: var(--text-color);
}

.profile-picture {
    border-radius: 50%;
    height: 30%;
    width: 30%;
}

.picture {
    border-radius: 50%;
    height: 45%;
    width: 45%;
}

.icon-navigation {
    text-decoration: none;
    height: 150%;
    width: 150%;
}

.settings {
    height: 30px;
    margin-left: 80%;
    margin-top: 50px;
    width: 30px;
    border: transparent;
    background-color: transparent;
    text-decoration: none;
}


/* Content */
.box,
.clothing-item,
.profile,
.category,
.content,
.fairscore,
.brand-and-grade,
.title-box-unconnected,
.box-unconnected,
.box-header {
    align-items: center;
    display: flex;
    justify-content: center;
}

.content-profile {
    flex-direction: column;
    margin-top: 20px;
    padding: 0px;
}

.box-unconnected-text {
    width: 85%;
    height: 40%;
}

.box-unconnected-text {
    width: 85%;
    border-radius: 12px;
    border: 2px solid var(--tertiary-color);
    box-sizing: border-box;
    padding: 12px 12px 10px;
}

.text {
    font-size: 110%;
    line-height: 1.2em;
    text-align: left;
    color: var(--text-color);
}

.box-header {
    align-self: stretch;
    flex-direction: row;
    gap: 12px;
    justify-content: space-between;
    padding: 0px 10px;
}

.box {
    display: flex;
    width: 95%;
    border-radius: 12px;
    border: 2px solid var(--secondary-color);
    box-sizing: border-box;
    flex-direction: column;
    margin-top: 15px;
}

.category {
    flex-direction: column;
    gap: 12px;
    margin: 0 15px;
    width: 91%;
}

.historic {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 0px;
}


/* Item of clothing */
.clothing-item {
    flex-direction: column;
    gap: 7px;
    padding: 0px;
}

.item-image {
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    width: 100%;
}

.brand-and-grade {
    flex-direction: row;
    gap: 7px;
    padding: 0px;
}

.fairscore {
    flex-direction: row;
    gap: 2px;
    padding: 0px;
}

.coming-soon {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;

    color: var(--secondary-color);
}

.title-unconnected {
    font-size: 130%;
}

.title-box-unconnected {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 45px;
}
