.nav-link {
    text-decoration: none;
    color: #0c4128;
}

.profile-picture {
    border-radius: 50%;
    height: 30%;
    width: 30%;
}

.picture-unconnected {
    border-radius: 50%;
    height: 60%;
    width: 60%;
}

.picture-connected {
    border-radius: 50%;
    height: 30%;
    width: 30%;
}

.icon-navigation {
    text-decoration: none;
    height: 150%;
    width: 150%;
}

.settings {
    height: 30px;
    margin-left: 80%;
    margin-top: 50px;
    width: 30px;
    border: rgba(183,115,255,0);
    background-color: rgba(255,253,253,0);
    text-decoration: none;
}


/* Content */
.box,
.clothing-item,
.profile,
.category,
.content,
.fairscore,
.brand-and-grade,
.title-box-unconnected,
.box-unconnected,
.box-header {
    align-items: center;
    display: flex;
    justify-content: center;
}

.content-profile {
    flex-direction: column;
    margin-top: 20px;
    padding: 0px;
}

.box-unconnected-text {
    width: 85%;
    height: 40%;
}

.box-unconnected-text {
    width: 85%;
    border-radius: 12px;
    border: 2px solid #888888;
    box-sizing: border-box;
    padding: 12px 12px 10px;
}

.text {
    font-size: 140%;
    line-height: 1.2em;
    text-align: justify;
}

.box-header {
    align-self: stretch;
    flex-direction: row;
    gap: 12px;
    justify-content: space-between;
    padding: 0px 10px;
}

.box {
    display: flex;
    width: 95%;
    border-radius: 12px;
    border: 2px solid #888888;
    box-sizing: border-box;
    flex-direction: column;
    margin-top: 15px;
}

.category {
    flex-direction: column;
    gap: 12px;
    margin: 0 15px;
    width: 91%;
}

.historic {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 0px;
}


/* Item of clothing */
.clothing-item {
    flex-direction: column;
    gap: 7px;
    padding: 0px;
}

.item-image {
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    width: 100%;
}

.brand-and-grade {
    flex-direction: row;
    gap: 7px;
    padding: 0px;
}

.fairscore {
    flex-direction: row;
    gap: 2px;
    padding: 0px;
}

.coming-soon {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;

    color: #888888;
}

.title-unconnected {
    font-size: 160%;
}

.title-box-unconnected {
    width: 100%;
    height: 60px;
}

.title-box-name {
    margin-top : 15%;
    width: 100%;
    height: 60px;
}

.logo-connected {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #33765d;
    border-radius: 50%;
    border: #33765d 1px solid;
    height: 130px;
    width: 130px;
    font-size: 450%;
    color: white;
}


