.title-product {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    color: #2A301E;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.plus-alternatives {
    color: #33765D;
    width: 20%;
}

.box,
.clothing-item,
.profile,
.category,
.content,
.fairscore,
.clothes,
.brand-and-grade,
.box-header {
    align-items: center;
    display: flex;
    justify-content: center;
}

.content {
    flex-direction: column;
    gap: 25px;
    margin-top: 50px;
    padding: 0px;
}

.home-title {
    align-self: stretch;
    flex-direction: row;
    gap: 12px;
    justify-content: space-between;
    padding: 0px 10px;
}

.alternatives-link {
    text-decoration: none;
}

.box {
    border-radius: 12px;
    border: 2px solid #E1E1E1;
    box-sizing: border-box;
    flex-direction: column;
    padding: 12px 12px 10px;
}

.go-alternative-page {
    border: rgba(87,86,86,0);
    background-color: white;
}

.category {
    flex-direction: column;
    gap: 12px;
    margin: 0 15px;
    width: 91%;
}

.clothes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
}


/* Item of clothing */
.tips-item {
    flex-direction: column;
    border: 1px;
    border-color: #0a0a0a;
    border-radius: 50px;
}

.item-tips {
    width: 100%;
}

.brand-and-grade {
    flex-direction: row;
    gap: 7px;
    padding: 0px;
}


.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alternatives-box {
    width: 90%;
}

.alternatives-image {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    width: 40%;
}

.tips {
    display: inline-flex;
    max-height: 400px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex-shrink: 0;
    width: 80%;
}

.tips-text-box {
    width: 100% ;
    height: 390px;
    border-radius: 15px;
    border: 1px solid #E1E1E1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.tips-title {
    color: #2A301E;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
}

.tips-text {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    line-height: 17px;
    white-space: pre-wrap;
}

.home {
    display: flex;
    flex-direction: column;
}

.header-home {
    display: flex;
    justify-content: flex-start;
    margin-top: 60px;
    width: 80%;
}


.home-subtitle-box {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 80%;
}

.home-subtitle {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.icon-home-subtitle1 {
    width: 7%;
    height: 7%;
    margin-right: 10px;
}

.icon-home-subtitle2 {
    width: 9%;
    height: 9%;
    margin-right: 10px;
}

.top-brands-slider {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 300px;
    width: 100%;
    overflow-y: unset;
    overflow-x: scroll;
}

.brands-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 100px;
    height: 250px;
    gap: 10px;
}

.clothing-item {
    flex-direction: column;
    gap: 7px;
    padding: 0px;
}

.item-image {
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    width: 100%;
}

.brand-item-box {
    width: 150px;
}

.box-top-brand {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 15px;
    width: 90%;
    margin-left: 10%;
}

.logo-icon-home {
    color: #33765D;
    width: 12%;
    height: 12%;
    margin-right: 10px;
}

.tips-image {
    width: 45%;
}

