.productPage {
    position: absolute;
    overflow-x: unset;
    overflow-y: scroll;
    background-color: white;
    z-index: 10;
}

.back-product-page {
    margin-right: 80%;
    width: 10%;
    border: rgba(183, 115, 255, 0);
    background-color: rgba(255, 253, 253, 0);
    margin-top: 5%;
}

.back-product-page-alternative-page {
    margin-right: 90%;
    margin-top: 5%;
    width: 10%;
    border: rgba(183, 115, 255, 0);
    background-color: rgba(255, 253, 253, 0);
}

.icon-navigation {
    text-decoration: none;
    height: 150%;
    width: 150%;
}

.icon-navigation-alternative-page {
    text-decoration: none;
    height: 100%;
    width: 100%;
}

.nav-link {
    text-decoration: none;
    color: #0c4128;
}

.title-product-product-page {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #2A301E;
}

.box-header-alternative {
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: space-between;
}

.item-image-alternatives-product-page {
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    width: 100%;
}

.clothes-alternatives-alternative-page {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(140px, auto);
    gap: 10px;
    margin-top: 20px;
}
