.brandPage {
    margin: 0 16px;
    justify-content: center;
    align-content: center;
    overflow-x: unset;
    overflow-y: scroll;
    z-index: 10;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brand-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 50px;
}

.back-product-page {
    display: flex;
    align-items: center;
    padding: 4px;
    position: fixed;
    width: 100%;
    margin: 0;
    left: 0;
    top: 0;
    border: rgba(183, 115, 255, 0);
    background-color: white;
}

.nav-link {
    text-decoration: none;
    font-size: 30px;
}

.colored-icon-home {
    color: #33765D;
    font-size: x-large;
}

.uncolored-icon-home {
    color: #E1E1E1;
    font-size: x-large;
}

.score-information-home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.brand-specialties {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 13px;
}

.brand-description {
    border-radius: 20px;
    border: #888888 1px solid;
    padding: 15px;
    line-height: 22px;
}
