.input-search {
    background: var(--background-color);
    border-radius: 25px;
    border: 1px solid var(--tertiary-color);
    box-shadow: 0px 4px 4px 0px rgba(199, 199, 199, 0.25);
    box-sizing: border-box;
    font-size: 13px;
    gap: 10px;
    height: 45px;
    margin-right: 7%;
    margin-top: 10%;
    padding: 13px 24px;
    width: 80%;
}


.filter-box {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 90%;
    top: 10%;
}

.text-filtre {
    color: var(--secondary-color);
}

.filter-field {
    align-items: center;
    background: var(--tertiary-color);
    border-radius: 10px;
    display: flex;
    gap: 7px;
    height: 15px;
    margin-top: 20%;
    padding: 10px;
}

.icon-filter {
    color: var(--secondary-color);
}

.dropdown-filter {
    background-color: var(--tertiary-color);
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-box {
    width: 90%;
    display: flex;
    flex-direction: row;
}

.input {
    width: 90%;
}

.line {
    background-color: #fffdfd;
}

.item-filter {
    display: flex;
    align-items: center;
    height: 10%;
    margin-left: 10%;
}

.button-search {
    background-color: rgba(51, 118, 93, 0.15);
    border-radius: 15px;
    border: 1px solid rgba(51, 118, 93, 0.65);
    box-shadow: 0px 4px 4px rgba(199, 199, 199, 0.25);
    box-sizing: border-box;
    color: var(--accentuation-color);
    height: 45px;
    margin-top: 10%;
    width: 20%;
}

.icon-search {
    color: var(--accentuation-color);
    width: 130%;
    height: 130%;
}

.clothes-alternatives {
    margin-top: 6%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
    width: 90%;
    max-height: 800px;
    overflow-y: scroll;
    overflow-x: unset;
}

.title-brand {
    color: var(--text-color);
}

.brand-proposition {
    text-decoration: none;
}

.text-search {
    color: var(--accentuation-color);
    font-size: 16px;
}

.brand-and-grade-search {
    border: #33765d 1px solid;
    border-radius: 20px;
    background: rgba(51, 118, 93, 0.15);
    padding-bottom: 40px;
    padding-top: 40px;
}
