.password-forgot-page {
    position: absolute;
    overflow-x: unset;
    overflow-y: scroll;
    background-color: #ffffff;
    z-index: 10;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

.email-form {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
    margin-top: 60px;
}


.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 9px;
}

.form-label {
    color: #000;
    text-align: center;
    font-family: 'Poppins', 'sans-serif';
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; /* 115.385% */
}

.form-control {
    display: flex;
    width: 304px;
    padding: 14px 16px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 12px;
    border: 2px solid #E1E1E1;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 184px;
    height: 180px;
}
