@import "../../App.css";

.navigation-bar {
    align-items: flex-start;
    background-color: var(--background-color);
    border-top: 1px solid var(--tertiary-color);
    bottom: 0;
    display: flex;
    flex-direction: row;
    height: 10%;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.navbar-icon {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex: none;
    gap: 5px;
    height: 100%;
    justify-content: center;
    order: 0;
    place-items: center;
    width: 25%;
    z-index: 1;
}

.icon {
    width: 40%;
    height: 40%;
}

.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    color: var(--accentuation-color);
    background: rgba(51, 118, 93, 0.15);
    border-radius: 12px;
    height: 85%;
    width: 75%;
    align-self: center;
    border-width: 0px;
}

.passive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    color: var(--secondary-color);
    border-radius: 12px;
    height: 80%;
    width: 75%;
    align-self: center;
    border-width: 0px;
    background-color: transparent;
}

.nav-link {
    display: flex;
    text-decoration: none;
    height: 90%;
    width: 90%;
    align-self: center;
    justify-content: center;
    align-items: center;
}
