#root {
  margin: 0;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.nav-bar {
  bottom: 0;
  right: 0;
}

.content-box {
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid var(--Light-grey, #D0D0D0);
}
