#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;

}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.nav-bar {
  bottom: 0;
  right: 0;
}

.dark-mode {
  background-color: #34312A;
  color: #FFFF;
}

.light-mode {
  background-color: #fff;
  color: #2A301E;
}
