root {
  font-family: 'Poppins', sans-serif;
  line-height: 15px;
  font-size: 15px;
  font-weight: 500;

  color: #2A301E;
  background-color: white;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  }

body {
  margin: 0;
}

/* Text sizes */
.title-one {
  font-size: 20px;
  font-weight: 600;
}

.title-two {
  font-size: 17px;
  font-weight: 600;
}

.title-four {
  font-size: 13px;
  font-weight: 400;
}


.action {
  color: #33765D;
}