:root {
  font-family: 'Poppins', sans-serif;
  line-height: 15px;
  font-size: 15px;
  font-weight: 500;

  color: #2A301E;
  background-color: white;
}

@font-face {
  font-family: 'Poppins';
  src: url('https://fonts.googleapis.com/css?family=Poppins');
}

body {
  margin: 0;
}

/*
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}*/

.title-one {
  font-size: 20px;
  font-weight: 600;
}

.title-two {
  font-size: 17px;
  font-weight: 600;
}

.title-four {
  font-size: 13px;
}

.profile-picture {
  border-radius: 115px;
  width: 30%;
  height: 30%;
}

.product-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 12px;
}

.profile {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  gap: 12px;
  align-self: stretch;
}

.action {
  color: #33765D;
}

.history {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 91%;
}

.content2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 12px 10px;
  border: 2px solid #E1E1E1;
  border-radius: 12px;
}

.clothes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
}

.fairscore {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 2px;
}

.clothe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 7px;
}

.brand-and-grade {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 7px;
}

.content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 25px;
}
